* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: FFMarkPro;
  src: url("../resources/FontFont_FF.Mark.Pro.otf");
}

@font-face {
  font-family: FFMarkProBold;
  src: url("../resources/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: FFMarkProBlack;
  src: url("../resources/FontFont_FF.Mark.Pro.Black.otf");
}

body {
  /* Ruta relativa o completa a la imagen */
  background-image: url(../imagenes/fondo.png);
  /* Centramos el fondo horizontal y verticalmente */
  background-position: center center;
  /* El fonde no se repite */
  background-repeat: no-repeat;
  /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
  background-attachment: fixed;
  /* El fonde se re-escala automáticamente */
  background-size: cover;
}

.contenedor,
header {
  width: 90%;
  font-family: FFMarkPro;
  margin: 15px auto;

  /*FLEX*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.logo img {
  width: 200px;
  vertical-align: top;
  float: left;
}

nav {
  font-family: FFMarkProBlack;
  background: #000;
  height: 80%;
  width: 100%;
  display: inline-block;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #986E1E;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.checkbtn {
  display: none;
  font-size: 30px;
  color: #986E1E;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;

}

#check {
  display: none;
}

.main {
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70%;
  height: auto;
}

.main img {
  padding: 10px 0px;
  width: 900px;
  height: 650px;
}

.main a {
  background: rgb(51, 235, 235, 0.5);
  color: #fff;
  padding: 20px;
  width: 400px;
  top: 70vh;
  left: 15%;
  text-decoration: none;
  position: absolute;
  font-size: 12px;
  text-align: center;
}

aside {
  /* background: #212E33; */
  padding: 20px;
  flex: 1 1 30%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

aside h2 {
  text-align: center;
  color: #fff;
}

aside .guia p {
  background: #212E33;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

aside .guia a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

}

footer {
  background: #986E1E;
  width: 100%;
  padding: 5px 10px;
  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .nombres {
  line-height: 50px;
  color: #fff;
}

footer .social a {
  flex-grow: 1;
  color: #986E1E;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: inline-block;
}

footer i {
  background: #000;
  padding: 15px 10px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width:1366px) {
  .main img {
    width: 700px;
    height: 380px;
  }
}

@media screen and (max-width:1000px) {
  .main img {
    width: 600px;
    height: 590px;
  }

  .main a {
    top: 70%;
    left: 10%;
  }

}

/*Responsive Menu*/
@media (max-width:952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width:858px) {

  .contenedor,
  header {
    margin: 0;
    width: 100%;
  }

  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 40%;
    right: -60%;
    /* height: 100vh; */
    background: #000;
    top: 100px;
    /* right: -100%; */
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }

  nav ul li {
    display: block;
    border-bottom: 1px solid #986E1E;
  }

  #check:checked~ul {
    margin: 0;
    right: 0;
  }

}
